.sidebar {
  padding: 3rem 0;
  height: 100vh;
  min-height: 700px;
  width: 196px;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.sidebar .logo {
  border-radius: 1rem;
  width: 64px;
  height: auto;
  display: block;
}

.profile {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

.profilePic {
  border-radius: 50%;
  aspect-ratio: 1;
  object-fit: cover;
}

.profilePic:hover {
  border: 1px solid var(--text-primary);
  cursor: pointer;
}

.profileDetails {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
}

.profileDetails p {
  font-size: var(--font-size-text-6);
  color: var(--text-secondary);
}

.primaryButton,
.secondaryButton {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0.5rem;
  justify-content: center;
  border-radius: 0.5rem;
  font-weight: var(--font-weight-heading);
  text-transform: uppercase;
  letter-spacing: 2px;
}

.primaryButton {
  background-color: var(--purple-600);
  color: var(--text-primary);
  border: 1px solid var(--purple-800);
}

.secondaryButton {
  background-color: black;
  color: var(--text-secondary);
  border: 1px solid var(--text-warning);
}

.primaryButton:hover {
  cursor: pointer;
  background-color: var(--purple-500);
  transition: ease-in-out 0.3s;
}

.secondaryButton:hover {
  cursor: pointer;
  background-color: var(--text-warning);
  transition: ease-in-out 0.3s;
  color: black;
}
