.navList {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  gap: 2rem;
}

.navItem {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  color: var(--text-secondary);
  background-color: var(--purple-900);
  border: 2px solid var(--purple-800);
  padding: 1rem;
  border-radius: 50%;
}

.navItem:hover {
  color: var(--text-primary);
}

.active {
  color: var(--text-primary);
  border-left: 2px solid var(--purple-500);
  border-right: 2px solid var(--purple-500);
}
