.Trigger svg {
  color: var(--text-secondary);
}

.Content {
  z-index: 2;
  display: flex;
  flex-direction: column;
  max-width: 200px;
  background-color: var(--neutral-950);
  border: 1px solid var(--neutral-800);
  border-radius: 0.5rem;
  padding: 0.75rem 0.5rem;
  gap: 0.5rem;
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
  &[data-side="top"] {
    animation-name: slideDownAndFade;
  }
  &[data-side="right"] {
    animation-name: slideLeftAndFade;
  }
  &[data-side="bottom"] {
    animation-name: slideUpAndFade;
  }
  &[data-side="left"] {
    animation-name: slideRightAndFade;
  }
}

.Item {
  font-size: var(--font-size-text-5);
  line-height: 1;
  color: var(--text-secondary);
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  position: relative;
  user-select: none;
  outline: none;
  &[data-highlighted] {
    background-color: var(--neutral-700);
    color: var(--text-primary);
  }

  &[data-highlighted].logout {
    background-color: var(--text-warning);
    color: var(--purple-950);
  }
}

.Item.logout {
  color: var(--text-warning);
}

.Separator {
  height: 1px;
  background-color: var(--violet-6);
  margin: 5px;
}

@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRightAndFade {
  from {
    opacity: 0;
    transform: translateX(-2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  from {
    opacity: 0;
    transform: translateX(2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
