.searchField {
  display: flex;
  flex-direction: row;
  padding: 0.75rem 1rem 0.75rem 2rem;
  background-color: var(--purple-900);
  border-radius: 1rem;
  border: 2px solid var(--purple-800);
  color: var(--text-placeholder);
  font-size: var(--font-size-text-4);
  align-items: center;
  width: 600px;
}

.searchField input {
  width: 100%;
  border: none;
  background: none;
  outline: none;
  color: var(--text-primary);
}

.searchField:hover,
.searchField:focus-within {
  background-color: var(--purple-800);
  border: 2px solid var(--purple-700);
}

.searchField input::placeholder {
  color: var(--text-placeholder);
}

.searchField button {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color: var(--text-primary);
  font-weight: var(--font-weight-heading);
  font-size: var(--font-size-text-5);
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  border: 1px solid hsla(0, 0, 0, 0);
  background-color: var(--purple-500);
}
